public/php_errors.log
public/images/posters/
public/images/other/
TitleManagerDB/other/
TitleManagerDB/logs/
TitleManagerWeb/public/php_errors.log
TitleManagerWeb/private/logs/
TitleManagerWeb/public/images/site/not in use/
TitleManagerWeb/public/images/posters/
TitleManagerDB/initial data/not in use/
